
:root {
  --blue: #B5D1C3;
  --white: #FFFDF6;
  --gray: #C4D4E2;
  --black1: #393F50;
  --black2: #DEECDA;
  --green: #63948C;
  --red: lightcoral;
  --blue2: #99CDD8;
  --darkgreen:#657166;
  --white2:#F0ECE3;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
}
.container {
  display: flex;
  position: relative;
  width: 100%;
}
.cardBox .card {
  position: relative;
  background: #ffffff57;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.cardBox .card:hover {
  background:#6E72FF;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--black1);
}

.main {
  position: relative;
  padding: 15px;
  padding-right: 0;
  width: 100%;
}

.main-top {
  display: flex;
  width: 100%;
}

.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: #601515;
  cursor: pointer;
}

.toggle-container {
  margin-left: auto;
}

.toggle-mode {
  padding: 8px 16px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}



.attendance-list {
  margin-bottom: 20px;
}
input{
 box-shadow: 0 5px 10px #b8a63f00;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: var(--gray);
}
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.376);
  border-radius: 10px;
  box-shadow: 0 0.4rem #dfdfd900;
  color: var(--black1);
  border: none;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25), -4px -2px 16px 0px #ffffff6f;
  border-top: 0 4px 15px rgba(251, 246, 246, 0.45);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(8px);
}

/* Example media query for adjusting font size on smaller screens */
@media (max-width: 576px) {
  .table th,
  .table td {
    padding: 8px; /* Adjust padding for smaller screens */
  }
  
  .table th {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}


.table th,
.table td {
  border-color: transparent;
  padding: 10px;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.table th {
  background-color: #e0e8ef;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: #7e97b8;
 
}
.search-container {
  position: relative;
  margin-bottom: 20px;
}

.search-container input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #412945;
  background-color: #ccd8ddd4;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.818);
  border-radius: 20px 20px 20px 20px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  cursor: pointer;
}

.search-container.active input {
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3), -4px -2px 16px 0px #ffffff8e, 4px 2px 16px 0px rgba(8, 23, 41, 0.383);
    transition: 300ms ease-in-out;
 /* Example of changing border color when active */
}


.search-container.active .search-line {
  transform: scaleX(1);
}



.button {
  padding: 5px 10px;
  border: 1px solid var(--blue);
  background-color: var(--white);
  color: var(--green);
  cursor: pointer;
  border-radius: 5px;
}

.button span {
  margin-right: 5px;
}


@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .main {
    padding: 10px;
  }

  .main-top {
    flex-direction: column;
  }

  .main-top i {
    position: static;
    margin: 10px auto;
  }

  .cardBox .card {
    flex-direction: column;
    padding: 15px;
    margin-bottom: 15px;
  }
}

.cardBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
}

.card {
  background: #fff;
  position: relative;
  padding-right: 50px;
  width: 31%; /* Ajuste la largeur des cartes */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25),-4px -2px 16px 0px #ffffff77;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);

}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25),-4px -2px 16px 0px #ffffff77;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.numbers {
  font-size: 24px;
  font-weight: bold;
  color: #13242d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardName {
  font-size: 20px;
  margin-top: 4px;
  color: #13242d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  
}

.iconBx {
  font-size: 24px;
  color: var(--black1);  ;
 
  
}

.attendance-list {
  background: transparent;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25),-4px -2px 16px 0px #ffffff77;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(8px);
  transition: 0.3s ease;
  background: #ffffff5d;
}

.attendance-list h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--black1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.table tbody tr:hover {
  background-color: transparent;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.medicaments, .panier {
  flex: 1;
  margin-right: 20px;
}

.medicaments h2, .panier h2 {
  margin-bottom: 10px;
  
}

table {
  width: 30%;
  
  border-collapse: collapse;
  background-color:rgba(255, 255, 255, 0.376);
  border-radius:10px; /* Add border-radius for rounded edges */
  box-shadow: 0 0.4rem #dfdfd900;
  color: var(--black1);
  border: none;
  font-size:large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25),-4px -2px 16px 0px #ffffff6f;
}

table th, table td {
  padding: 8px;
  border-bottom: 1px solid var(--black1);
  
}

.table th {
  background-color: #ccd8ddd4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: #412945;}

.table td {
  border-color: transparent;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table tbody tr:hover {
  background-color: #210505;
}

.chart-container {
  width: calc(80% - 40px);
  height: 60vh;
  margin: 20px;
  background-color: #912626;
  border-radius: 10px;
  box-shadow: 0 4px 6px #9412121a;
  transition: 0.3s ease;
}

@media only screen and (max-width: 700px) {
  .chart-container {
    width: calc(100% - 40px);
    height: 50vh;
  }
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 90px;
  background-color: #ba6767;
  transition: width 0.5s;
}

.sidebar.open {
  width: 200px;
}

.content {
  flex: 1;
}

.chart-container {
  height: calc(100vh - 50px);
  padding: 20px;
}

.toggle-button {
  padding: 10px;
  margin: 20px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid transparent;
  color: #412945;
 background-color: #B5E1E8;
 border-style: solid;
 border-width: 2px 2px 2px 2px;
 border-color: rgba(255, 255, 255, 0.333);
 border-radius: 10px 10px 10px 10px;
 transform: translate(0px, 0px) rotate(0deg);
 transition: 0.2s;
 box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgba(95, 156, 231, 0.383);
}

.btn.active {
  background-color:#ffffffcf;
  color: var(--black1);
  border-color: 2px solid #ccd8dd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
   background-color: #7e97b8;
    outline: none;
    background-color: transparent;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3), -4px -2px 16px 0px #ffffff8e, 4px 2px 16px 0px rgba(8, 23, 41, 0.383);
    transition: 300ms ease-in-out;
  
  
}

.btn:hover {
  background-color: #6E72FF;
  color : white;
}

.mine {
  
  border: none;
  
  font-size: 12px;
  
 
  border-radius: 10px;
  color: var(--black1);
  cursor: pointer;
  color: #7e97b8;
 background-color: #e0e8ef62;
 border-style: solid;
 border-width: 2px 2px 2px 2px;
 border-color: rgba(255, 255, 255, 0.333);
 border-radius: 40px 40px 40px 40px;

 transform: translate(0px, 0px) rotate(0deg);
 transition: 0.2s;
 box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgba(95, 156, 231, 0.383);
  
 }
 
 .mine:active {
  color: white;
  
  transform: translateY(0.2rem);
 }
 
 .mine:hover:not(:disabled) {
  background: #d9e4ed;
  color: var(--black1);
  
 }
 
 .mine:disabled {
  cursor: auto;
  color: grey;
 }
 .input-wrapper input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.input-wrapper input:focus {
  outline-color: lightcoral;
}


.carddd {
  
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.62);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  
  background-color: rgba(247, 19, 19, 0.39);
  
}

.carddd-inner {
  width: 100%;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.219);
  transition: 0.3s ease;
}





@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}
/* From uiverse.io by @alexruix */



